@import url('https://fonts.googleapis.com/css2?family=Carrois+Gothic+SC&display=swap');

/*====== GLOBAL STYLES ======*/
* {
    border: 0;
    margin: 0;
    padding: 0;
    outline: 0;
}

html {
    font-size: 16px;
}

body { 
    color: #505050;
    font-size: 1em;
    font-family: 'Carrois Gothic SC', sans-serif;
    margin: 0 auto;
}

a {
    color: #505050;
}

h1 {
    font-weight: 700;
}

h3 {
    font-size: 1.3em;
}

h3, 
h4  {
    font-weight: 400;   
}

#main-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 1200px;
}

.col-1 {
    display: flex;
    flex-direction: column;
    order: 1;
    width: 60%;
}

.col-2 {
    display: flex;
    flex-direction: column;
    order: 2;
    width: 35%;
}

.top-bar {
    background-image:linear-gradient(to right, rgb(253, 139, 192) , rgb(245, 105, 50));
    height: 70px;
    width: 100%;   
}

.card {
    background-color:rgba(255, 255, 236, 0.616);
    box-shadow: 8px 8px hsla(99, 10%, 59%, 0.3);
    justify-content: flex-start;
    margin: 20px 0;
    width: 100%;
}

/*===== HEADER ====== */

header {
    display: flex;
    justify-content: center;
    width: 100%;    
}

#navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1200px;
    flex-direction: row;
}

#navigation h1 {
    padding-right: 30px;
}

#nav-bar {
    display: flex;
    align-items: center;
    width: 80%;
}

nav ul {
    display: flex;
    gap: 1.5em;
}

nav li {
    list-style-type: none;
}

nav li:hover {
    transform: scale(1.1);
}

nav a {
    font-weight: 700;
    text-decoration: none;
}

#button-container {
    display: flex;
    justify-content: flex-end; 
}

button {
    background-color:rgba(255, 255, 207, 0.466);
    font-family: 'Carrois Gothic SC', sans-serif;
    padding: 10px 20px;
}

button:hover {
    transform: scale(1.1);
}

/**=====   COL-1 CARD-1 USER INFORMATION  =========*/

#user-information {
    padding: 35px 10px 40px 40px;
}

#card-1 .fa-user-ninja {
	color: black;
}

#card-1 p .fa-user-ninja {
    display: flex;
    font-size: 4.5em;
    padding: 15px 0 40px 40px;
}

#location,
#edit-settings {
    align-items: center;
    display: flex;
    flex-direction: row;
}

#location {
    padding: 5px 0;
}

#edit-settings {
    padding: 15px 0;
}

#edit-settings a:hover {
    transform: scale(1.1);
}

.fa-map-marker-alt,
.fa-cog {
    color: #383838;
    display: flex;
}

p .fa-map-marker-alt,
p .fa-cog {
    font-size: 1.6em;
    padding-right: 10px;
    padding-top: 5px;
    text-align: left;
}

#user-information h3 {
    padding: 40px 5px 10px 0; 
}

/*======  COL-1 CARD-2 EDUCATION   =========*/

#card-2 .top-bar {
    display: flex;
    align-items: center;
}

#card-2 h2 {
    padding-left: 40px;
}

.education {
    padding: 30px 0 10px 40px;
}

/*====== ASIDE CARD-3 and CARD-4 CONNECTION REQUESTS  ======  */

#card-3 .top-bar,
#card-4 .top-bar {
    align-items: center;
    display: flex;
    justify-content: flex-start;
}

#total-requests,
#total-connections {
    align-items: center;
    background-color:rgba(255, 255, 207, 0.466);
    border-radius: 50%;
    display: flex;
    height: 50px;
    justify-content: center;
    margin: 0 20px 0 30px;
}

#total-requests {
    width: 50px;
}

#total-connections {
    width: 50px;
}

#total-requests h3,
#total-connections h3 {
    text-align: center;
}

.connection-row {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.user {
    align-items: center;
    display: flex;
}

.user p .fa-user-ninja {
    display: flex;
    font-size: 2em;
    padding: 15px 15px 15px 40px;
}

.feedback-user-connection {
    display: flex; 
    padding-right: 40px;
}

p .fa-check-circle,
p .fa-plus-circle {
    font-size: 1.4em;
    padding-right: 15px;
}

p .fa-check-circle:hover,
p .fa-plus-circle:hover {
    transform: scale(1.1);
}


.line {
    border-color: #B0B0B0;
    border-width: thin;
    border-style: solid;
    margin-top: 20px;
    width: 100%;
}

#view-more {
    padding: 20px 0 20px 40px;
}

#view-more:hover {
    transform: scale(1.1);
}
